{
  "cookieSecret": "secret",
  "sessionSecret": "secret",
  "facebook": {
    "clientID": "secret",
    "clientSecret": "secret"
  },
  "google": {
    "clientID": "secret",
    "clientSecret": "secret"
  },
  "twitter": {
    "consumerKey": "secret",
    "consumerSecret": "secret"
  }
}
